# 로컬 인프라 설정. 필요하면 .env로 복사해 값을 바꾼다.
POSTGRES_DB=woorizip
POSTGRES_USER=woorizip
POSTGRES_PASSWORD=woorizip
POSTGRES_PORT=5432

AWS_REGION=ap-northeast-2
S3_BUCKET=woorizip-media-local
LOCALSTACK_PORT=4566
# LocalStack 이미지가 인증 토큰을 요구하는 경우에만 설정
LOCALSTACK_AUTH_TOKEN=
